body
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    /**variables for cards size and other stuff**/
    --cardw: 256px;
    --cardh: 460px;
    --imageSize: calc(var(--cardw)*0.8); /** images must be squares **/
    /**font stuff**/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*** Card wrappers *********************************************/

.card_container{
    display: flex;
    flex-wrap: wrap;
    /**creates a fixed positionning for the cards**/
    position: relative;
}

.anchor{
    width: var(--cardw);
    height: var(--cardh);
    margin: 50px;
}

.deck{
    width: var(--cardw);
    height: var(--cardh);
    border-radius: 15px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-image: url("picts/back.png");
    background-repeat: no-repeat;
    background-size: var(--cardw) var(--cardh);
    background-color: blue;
    margin: 50px;
}

/**general card propreties and card styling *****************************************************/

.card /**general card div**/
{
    width: var(--cardw);
    height: var(--cardh);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-width: 10px;
    border-style: double;
    position: absolute;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /*Safari*/
    transform-style: preserve-3d;
}

.card::after
{
    /* pos */
    content: " ";
    width: var(--cardw);
    height: var(--cardh);
    position: absolute;
    /* styling */
    background-image: url("picts/back.png");
    background-repeat: no-repeat;
    background-size: var(--cardw) var(--cardh);
    border-radius: 15px;
    border-width: 10px;
    border-style: solid;
    border-color: #000000;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /*Safari*/
}

.card_name /**the top title**/
{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 0px;
}

.card_avatar /** picture**/
{
    /*images must be squares*/
    width: var(--imageSize);
    height: var(--imageSize);
    border-radius: 10px;
    border-style: solid;
    border-width: 7px;
}

.card_description::before{
    content: "\"";
    font-size: 18px;
    font-weight: 10;
}

.card_description::after{
    content: "\"";
    font-size: 18px;
    font-weight: bolder;
}

.card_description
{
    font-size: 18px;
    font-style: italic;
    width: 80%;
    margin: 0px;
}

.separator{
    height: 4px;
    border-radius: 2px;
    width: 50%;
    margin: 5px;
}

/**color schemes***********************************************/

/**standard grey**/
.card.grey {
    color: whitesmoke;
    background: linear-gradient(to bottom right, #222222, #444444);
    border-color: black;
}

.card.grey > .card_avatar
{
    border-color: #000000;
}

.card.grey > .separator 
{
    background-color: gold;
}

/**gold version for professors**/

.card.gold {
    color: black;
    background: linear-gradient(to bottom right, gold, #ffad33);
    border-color: rgb(255, 0, 0);

}

.card.gold > .card_avatar
{
    border-color: #000000;
}

.card.gold > .separator 
{
    background-color: rgb(17, 17, 17);
}

/**special blue**/

.card.blue {
    color: black;
    background: linear-gradient(to bottom right, rgb(0, 81, 255), #33beff);
    border-color: rgb(0, 0, 255);

}

.card.blue > .card_avatar
{
    border-color: #000000;
}

.card.blue > .separator 
{
    background-color: rgb(17, 17, 17);
}

/**green **/

.card.green {
    color: black;
    background: linear-gradient(to bottom right, rgb(29, 135, 0), #33fd00);
    border-color: rgb(0, 0, 0);

}

.card.green > .card_avatar
{
    border-color: #000000;
}

.card.green > .separator 
{
    background-color: rgb(17, 17, 17);
}

/**magenta**/
.card.magenta {
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, rgb(121, 0, 135), #fd00fd);
    border-color: rgb(0, 0, 0);

}

.card.magenta > .card_avatar
{
    border-color: #000000;
}

.card.magenta > .separator 
{
    background-color: rgb(17, 17, 17);
}

/**pink**/
.card.pink {
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, rgb(243, 130, 255), #fec3fe);
    border-color: rgb(0, 0, 0);

}

.card.pink > .card_avatar
{
    border-color: #000000;
}

.card.pink > .separator 
{
    background-color: rgb(17, 17, 17);
}
